.wt-grid
  > .wt-grid__item-xs-12:last-child
  > div:nth-child(2)
  .wt-table
  .wt-table__row
  .wt-table__row__cell {
  white-space: wrap !important;
  word-break: break-all;
  width: 10% !important;
  padding: 10px !important;
}

.wt-grid
  > .wt-grid__item-xs-12:last-child
  > div:nth-child(2)
  .wt-table
  .wt-table__row
  .wt-table__row__cell:nth-child(1) {
  width: 40% !important;
}

/* Custom dropdown */
.om-select-style {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}
.om-select-style option {
  padding: 10px;
}
.om-select-style select {
  font-weight: bold;
  font-size: 15px;
  background-color: #f1f1f1;
  color: #000;

  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  height: 36px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.om-select-style::before,
.om-select-style::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.om-select-style::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

.om-select-style::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
  height: 36px;
}

.om-select-style select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.om-select-style select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.om-select-style::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.om-select-style::after {
  color: rgba(0, 0, 0, 0.4);
}

.wrap-filter-search {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

#searchForm {
  height: 36px;
  border-radius: 13px;
  border: 1px solid #848181;
  padding: 10px;
  font-size: 14px;
  color: #000;
}

label[for="searchForm"] {
  padding-left: 5px;
  padding-top: 5px;
}
#countRows {
  font-weight: bold;
}

.om-search {
  display: flex;
}

.flex {
  display: flex;
  align-items: center;
}
